body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

a {
    color: #007bff;
    text-decoration: none;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

form {
    max-width: 400px;
}

    form label {
        display: block;
        margin-bottom: 5px;
    }

#userListContainer {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.updateButton, .deleteButton {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    display: inline-block;
}

    .updateButton:hover, .deleteButton:hover {
        background-color: #0056b3;
    }

.logout-link {
    position: absolute;
    top: 20px;
    right: 20px;
}
